/*about*/
.relleno {
    color: #fff;
    line-height: 15px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 28px;
    text-align: justify;
    margin-bottom: 10px;

}

.imagen {
    display: flex;

    margin-block: 10px;
    align-items: baseline;
}

.foto {
    height: 150px;
    margin: 10px;
    margin-left: 30px;
}

.foto2 {
    width: 200px;
    height: 100px;
    margin-left: 40px;
}

.negrita {
    font-size: 13px;
}

.comando {
    display: flex;
}

.relleno_coman {
    margin: auto;
    font-size: 14px;
    text-align: initial;
}

.logo_servitec {
    width: 80%;
    margin: 20px auto;
}

.tittle__soporte {
    font-size: 26px;
}

.relleno__soporte {
    color: white;
    line-height: 20px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.relleno__programador {
    color: white;
    line-height: 25px;
    font-size: 20px;
    margin-left: 25%;
    text-align: justify;

}

/*Social*/
.concepto {
    color: white;
    line-height: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.espace {
    color: black;
    line-height: 15px;
    margin-bottom: 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;

}

.relleno_social {
    font-size: 19px;
    line-height: 20px;
    color: white;
    text-align: justify;
}

.enlaces {
    line-height: 18px;
    font-size: 15px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
}

.link {
    color: #fff;;
    display: flex;

}

.descargar__convenios {
    margin-left: 10%;
    margin-top: 15px;
    font-size: 15px;
}

.relleno__convenios {
    color: #fff;
    line-height: 15px;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 28px;
    text-align: justify;
    margin-bottom: 10px;
}

.icono__ {
    margin-right: 10px;
    width: 29px;
}

.sad {
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
    font-weight: 800;
}

.__table {
    font-size: 12px
}

.relleno__table {
    margin: auto;
    text-align: justify;
    font-size: 10px;
    line-height: 13px;
    padding: 7px;
}

.lista__uni {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

}

.universidades {
    width: 100%;
   ' margin: 5px;'
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;


}

.universidades a {
    padding: .5rem 0;
    width: 460px;
    min-height: 3.7rem;
    border-radius: 7px;
    padding: .5rem auto;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    line-height: 17px;
    font-size: 1rem;
}

.link__uni {

}

.icono__uni {
    order: -1;
    margin: 0.5rem;
    width: 3rem;
    height: auto;
    object-fit: contain;
}

.icono__banco {
    width: 4rem;
    /*margin-top: 8px;
    width: 20%;*/
}

/*Vivienda*/
.particion {
    display: flex;
}

.formato__pdf {
    display: flex;
    font-size: 17px;
    color: black;
    width: 19px;
}

/*Button descargar */
#item-buttons_descarga {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

#item-buttons_descarga a {
    width: 40%;
    margin: 5px;
    border-radius: 7px;
    padding: 0px;
    text-decoration: none;

}


/*Slider*/

.container-slider {
    /*Variado*/
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    position: relative;

}

/*El width depende de la cantidad de img 4=400%*/
.slider {
    display: flex;
    width: 600%;
    height: auto;
    margin-left: -100%;
}

/*Institutos de Lima*/
.slider__instituto {
    display: flex;
    width: 1100%;
    height: auto;
    margin-left: -100%;
}

.slider__instituto_provincia {
    display: flex;
    width: 1200%;
    height: auto;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;

    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 35px;
    height: 35px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn__botton {
    position: absolute;
    width: 35px;
    height: 35px;

    top: 25%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.position__botton {
    top: 25%;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.sedes {
    text-align: center;
}

.div__tittle {
    margin-bottom: 30px;
    margin-top: 30px;
}

.tittle__ints {
    color: #566B30;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}

/*Tecnicos y subtecnicos*/
.sedes__ {
    width: 90%;
    margin: auto;
}

.sub__tittle_inst {
    margin: 20px auto;
    text-align: center;
    font-size: 29px;
    font-weight: 800;
    color: #7f9e47;
}

/*img__resposi*/
.img__responsi {
    margin: auto;
    width: 100%;
}

.img__bazar {
    width: 100%;
    margin: auto;
}

/* Styles buttons*/
#item-buttons {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

#item-buttons a, .item-button {
    width: 100%;
    min-height: 3.7rem;
    max-width: 460px;
    margin:0.3rem .6rem ;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#texto {
    display: none;

}

#texto1 {
    display: none;

}

#texto2 {
    display: none;

}

#texto3 {
    display: none;

}

@media screen and (max-width: 300px) {

    /*slider*/
    .container-slider {
        height: 250px;
    }

    .instituto__slider {
        height: 100%;
    }

    .slider__img {
        height: 255px;
    }

    .instituto__img {
        height: 40%;
        object-fit: contain;

    }


}

@media screen and (min-width: 500px) {
    .instituto__img {
        width: 40%;
        height: 20%;
        object-fit: contain;
        margin: auto;
    }

    .concepto {
        text-align: center;
    }

    .enlaces {
        display: inline-flex;
        margin: inherit;
    }

    .link {
        margin-bottom: 20px;
    }

    .relleno__convenios {
        width: 31%;
    }

    .img__responsi {
        width: 40%;
    }

    .espace {
        width: 50%;
        margin: auto;
    }

    .relleno__vivienda {
        width: 35%;
        margin: auto;
    }

    .particion {
        width: 50%;
        margin: auto;
    }

    .logo_servitec {
        width: 40%;;
    }

    .text__responsi {
        width: 50%;
        margin: 10px auto;
    }

    .div__responsive {
        width: 50%;
        margin: auto;
    }

    .img__bazar {
        width: 60%;
    }

}